/*Header*/

header {
    border-bottom: none;
    text-align: center;
    text-decoration-color: black;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: auto;
}

nav li {
    flex: auto;
    gap: 20px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: $color-fuentes;
    ;
}